.div_style {
  width: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.div_header {
margin-top: 0.5cm;
  text-align: center;
}

.div_title {
    text-align: left;
    margin-left: 1cm;
  }

.div_fotter {
  text-align: right;
  margin-right: 1cm;
  margin-bottom: 0.5cm;
}
.border_style{
    border-width: 1px;
  border-style: solid;
  border-color: black;
}
.text_box{

padding-right: 5cm;
}